/* reset starts */

html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after{
  box-sizing: inherit;
}

ul[class],
ol[class]{
  padding: 0;
}

body,
h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd{
  margin: 0;
}

ul[class]{
  list-style: none;
}

img{
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select{
  font: inherit;
}

a{
  text-decoration: none;
}

body{
  min-height: 100vh;
}

/* reset ends */

/* globas styles setup starts */

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #373A39;
  /* font-family: 'Merriweather', serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif; */
}

.container{
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}

.title{
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  line-height: 75px;
  font-weight: 700;
  letter-spacing: -1.65px;
  color: #242121;
  padding-bottom: 18px;
  position: relative;
  align-self: flex-start;
}

.title::after{
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: #FCBB08;
}

/* globas styles setup ends */

/* header section starts ///////////////////////////////////*/

/* header__top setup starts*/

.header__top{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 999;
}

.header__top-inner{
  padding-bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu__btn{
  display: none;
}

.menu__list{
  display: flex;
}

.menu__list-item + .menu__list-item{
  margin-left: 32px;
}

.menu__list-link{
  padding: 0 9px 9px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  color: #373A39;
  font-family: 'Raleway', sans-serif;
  transition: all 0.5s;
}

.menu__list-link:hover{
  border-bottom: 1px solid #FCBB08;
}

/* header__top setup starts*/

/* header__content setup starts */

.header__content{
  background-image: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 100px;
}

.header__content-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 93px);
}

.header__title{
  font-weight: 500;
  font-size: 72px;
  line-height: 88px;
  color: #FFF;
  margin-top: auto;
  margin-bottom: 19px;
  padding-top: 130px;
}

.header__subtitle{  
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.74286px;
  color: #FCBB08;
  margin-bottom: auto;
}

.header__icon{
  margin-bottom: 62px;
}

/* header__content setup starts */

/* header section ends ///////////////////////////////////*/

/* about section starts ///////////////////////////////////*/

.about{
  background-color: #F6F8FA;
  padding: 150px 0 144px;
}

.about__inner{
  display: flex;
  justify-content: space-between;
}

.about__title{
  font-size: 48px;
}

.about__text p{
  max-width: 770px;
  margin-bottom: 16px;
}

/* about section ends ///////////////////////////////////*/

/* expertise section starts ///////////////////////////////////*/

.expertise{
  padding: 140px 0 160px;
}

.expertise__title{
  margin-bottom: 90px;
}

.expertise__inner{
  display: flex;
  margin-bottom: 85px;
}

/* expertise__info setup starts */

.expertise__info{
  width: 370px;
  margin-top: 10px;
  margin-right: 30px;
  flex: none;
}

.expertise__info-item{
  border-top: 2px solid #1D1D1D;
  padding: 2px 0 28px;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #1D1D1D;
  position: relative;
}

.expertise__info-item span{
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 7px;
}

.expertise__info-item span::before{
  content: "";
  position: absolute;
  height: 2px;
  background-color: #F0F0F0;
  right: -7px;
  top: -2px;
  width: 100%;
}

/* expertise__info setup ends */

.expertise__text p{
  margin-bottom: 25px;
}

/* expertise__items setup starts */

.expertise__items{
  display: flex;
  justify-content: space-between;
}

.expertise__item{
  width: 370px;
  padding-left: 85px;
  position: relative;
}

.expertise__item::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}

.expertise__item--design::before{
  background-image: url('../images/design-icon.svg');
}

.expertise__item--monitor::before{
  background-image: url('../images/monitor-icon.svg');
}

.expertise__item--speaker::before{
  background-image: url('../images/speaker-icon.svg');
  top: -8px;
}

.expertise__item-title{
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 4.29px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.expertise__item-text{
  color: #777;
}

/* expertise__items setup ends */

/* expertise section ends ///////////////////////////////////*/

/* magic section starts ///////////////////////////////////*/

.magic{
  background-color: #F6F8FA;
  background-image: url('../images/magic-bg.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: left center;
}

.magic__inner{
  max-width: 470px;
  margin-left: auto;
  padding: 100px 0 190px;
}

.magic__title{
  margin-bottom: 67px;
}

.magic__text p{
  margin-bottom: 25px;
}

/* magic section ends ///////////////////////////////////*/

/* portfolio section starts ///////////////////////////////////*/

.portfolio{
  padding: 140px 0 165px;
}

.portfolio__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.portfolio__filter-btn{
  margin-right: 65px;
}

.portfolio__btn{
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: #333;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0 4px 5px;
  outline-color: #FCBB08;
}

.portfolio__btn + .portfolio__btn{
  margin-left: 25px;
}

.mixitup-control-active{
  border-bottom: 1px solid #FCBB08;
}

/* portfolio__content setup starts */

.portfolio__content{
  column-count: 4;
  column-gap: 23px;
  margin-bottom: 72px;
}

.portfolio__item{
  margin-top: 22px;
  position: relative;
}

.portfolio__item:first-child{
  margin-top: 0;
}

.portfolio__item-link{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #FFF;
  background-color: #4C4949;
  border: 12px solid #666363;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s;
}

.portfolio__item:hover .portfolio__item-link{
  opacity: 1;
}

.portfolio__item img{
  width: 100%;
}

/* portfolio__content setup ends */

/* portfolio__add setup starts */

.portfolio__add{
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.2px;
  color: #242121;
  text-align: center;
  text-transform: uppercase;
  padding: 42px 15px 41px;
  background-color: #F6F8FA;
  margin-bottom: 130px;
}

/* portfolio__add setup starts */

/* blockquote setup starts */

.blockquote{
  max-width: 650px;
  margin: 0 auto 148px;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  color: #242121;
}

.blockquote__author{
  padding-top: 51px;
  display: block;
  font-size: 14px;
  line-height: 32px;
  color: #9E9E9E;
}

/* blockquote setup ends */

/* portfolio__video setup starts */

.portfolio__video{
  background-image: url('../images/portfolio-bg.jpg');
  height: 324px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 165px;
}

/* portfolio__video setup ends */

/* portfolio__numbers setup starts */

.portfolio__numbers{
  display: flex;
  justify-content: space-around;
}

.portfolio__numbers-item{ 
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 73px;
  color: #242121;
  margin-bottom: 9px;
}

.portfolio__numbers-item span{
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #333;
  display: block;
}

/* portfolio__numbers setup ends */

/* portfolio section ends ///////////////////////////////////*/

/* slider-blog section starts ///////////////////////////////////*/

.slider-blog{
  background-color: #F8F6FA;
  padding: 115px 0;
}

.slider-blog__item{
  padding: 190px 0;
}

.slider-blog__item-title{
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  color: #242121;
  margin-bottom: 10px;
  max-width: 675px;
  display: inline-block;
}

.slider-blog__item-description{
  max-width: 585px;
}

/* slick-dots setup starts */

.slick-dots{
  display: flex;
}

.slick-dots li + li{
  margin-left: 13px;
}

.slick-dots button{
  background-color: #242121;
  opacity: 0.4;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  font-size: 0;
  padding: 0;
  border: none;
}

.slick-dots .slick-active button{
  width: 10px;
  height: 10px;
  opacity: 1;
  transform: translateY(-2px);
}

/* slick-dots setup ends */

/*  slick-arrows setup starts */ 

.slick-prev,
.slick-next{
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-150%);
}

.slick-prev{
  left: -95px;
}

.slick-next{
  right: -95px;
}

/*  slick-arrows setup ends */ 

/* slider-blog section ends ///////////////////////////////////*/

/* team section starts ///////////////////////////////////*/

.team{
  padding: 120px 0 130px;
}

.team__title{
  margin-bottom: 100px;
}

.team__iteams{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.team__name{
  font-family: 'Montserrat', sans-serif;
  padding: 35px 0 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #333;
}

.team__position{
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
}

/* team section ends ///////////////////////////////////*/

/* priceing section starts ///////////////////////////////////*/

.priceing{
  background-color: #F6F8FA;
  padding: 145px 0 160px;
}

.priceing__title{
  margin-bottom: 90px;
}

/* priceing__items setup starts */

.priceing__items{
  display: flex;
  justify-content: space-between;
}

ul.priceing__item{
  background-color: #fff;
  text-align: center;
  padding: 24px 25px 50px;
  width: 370px;
}

.priceing__item li{
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #242121;
  margin-bottom: 30px;
}

.priceing__item .priceing__item-name{
  text-align: left;
  font-weight: 700;
  margin-bottom: 8px;
}

.priceing__item .priceing__item-number{
  font-size: 80px;
  line-height: 109px;
  margin-bottom: 50px;
}

.priceing__item-number sup{
  font-size: 40px;
  line-height: 54px;
}

.priceing__item-link{
  margin-top: 70px;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1.2px;
  color: #242121;
}

/* priceing__items setup ends */

/* priceing section ends ///////////////////////////////////*/

/* clients section starts ///////////////////////////////////*/

.clients{
  padding: 70px 0 95px;
}

.clients__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* clients section ends ///////////////////////////////////*/

/* conection section starts ///////////////////////////////////*/

.conection{
  padding: 145px 0 160px;
  background-image: url('../images/map-bg.jpg');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right center;
}

.conection__title{
  margin-bottom: 80px;
}

.form{
  max-width: 570px;
}

.form input,
.form textarea{
  border: none;
  display: block;
  width: 100%;
  border-bottom: 2px solid #373A39;
  font-weight: 400;
  font-size: 12px;
  padding: 16px 0;
  margin-bottom: 16px;
}

.form input::placeholder,
.form textarea::placeholder{
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  align-items: flex-end;
  letter-spacing: 3.70909px;
  color: #B8B8B8;
  text-transform: uppercase;
}

.form textarea{
  min-height: 140px;
  resize: none;
}

.form button{
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 2px;
  color: #FFF;
  text-transform: uppercase;
  padding: 17px 70px 15px;
  background-color: #242121;
  cursor: pointer;
  margin-top: 40px;
}

/* conection section ends ///////////////////////////////////*/

/* footer section starts ///////////////////////////////////*/

/* footer__top setup starts */

.footer__top{
  padding: 110px 10px 60px;
  background-color: #333;
  text-align: center;
}

.footer__logo{
  display: inline-block;
  padding: 0 35px 4px;
  border-bottom: 2px solid #FCBB08;
  margin-bottom: 70px;
}

ul.footer__social{
  display: flex;
  justify-content: center;
  margin-bottom: 65px;
}

.footer__social-list{
  padding: 0 15px;
}

.footer__social-link{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 4px;
  color: #FFF;
  text-transform: uppercase;
}

/* footer__top setup ends */

/* footer__contact setup starts */

.footer__contact{
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  color: #FFF;
  margin-bottom: 60px;
}

.footer__contact a{
  display: block;
  margin: 10px 0;
  color: #fff;
}

/* footer__contact setup ends */

.go-top{
  display: inline-block;
}

.footer__copy{
  padding: 40px 10px;
  text-align: center;
  background-color: #2A2C2B;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #CCC;
}

/* footer section ends ///////////////////////////////////*/

/* media setup starts ///////////////////////////////////*/

/* media 1440px setup starts */

@media(max-width: 1440px){
  .magic__inner{
    padding: 50px 0;
  }
  .slick-next{
    right: 0;
  }
  .slick-prev{
    left: 0;
  }
  .slider-blog__item{
    padding: 120px 60px;
  }
  ul.slick-dots{
    margin-left: 60px;
  }
}

/* media 1440px setup ends */

/* media 1200px setup starts */

@media(max-width: 1200px){
  .conection,
  .priceing,
  .team,
  .slider-blog,
  .portfolio,
  .expertise,
  .about{
    padding: 75px 0;
  }
  .header__top-inner{
    padding-bottom: 5px;
  }
  .about__inner{
    display: block;
  }
  .conection__title,
  .priceing__title,
  .team__title,
  .expertise__title,
  .about__title{
    margin-bottom: 50px;
  } 
  .about__text p{
    max-width: 100%;
  }
  .title{
    font-size: 48px;
    line-height: 65px;
  }
  .portfolio__filter-btn{
    margin-right: 0;
  }
  .clients__list,
  .priceing__items,
  .team__iteams{
    column-gap: 20px;
  }
}

/* media 1200px setup ends */

/* media 992px setup starts */

@media(max-width: 992px){
  .expertise__inner{
    display: block;
    margin-bottom: 75px;
  }
  .expertise__info{
    width: 100%;
    margin-right: 0;  
  }
  .expertise__items{
    display: block;
  }
  .expertise__item{
    width: 100%;
    margin-bottom: 40px;
  }
  .magic{
    background-image: none;
  }
  .magic__inner{
    max-width: 100%;
    margin-left: 0;
  }
  .magic__title{
    margin-bottom: 50px;
  }
  .portfolio__content{
    column-count: 3;
    margin-bottom: 40px;
  }
  .portfolio__top{
    display: block;
    margin-bottom: 50px;
  }
  .portfolio__filter-btn{
    padding-top: 40px;
  }
  .conection{
    background-image: none;
  }
  .form{
    max-width: 100%;
  }
  .footer__top{
    padding-top: 75px;
  }
  .footer__logo{
    margin-bottom: 40px;
  }
  ul.footer__social{
    margin-bottom: 40px;
    flex-wrap: wrap;
  }
  .footer__social-list{
    width: 33.33%;
    margin-bottom: 25px;
  }
}

/* media 992px setup ends */

/* media 768px setup starts */

@media(max-width: 768px){
  .menu__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #000;
    display: block;
    text-align: center;
    transform: translateY(-200%);
    transition: all 0.5s;
  }
  ul.menu__list{
    padding: 90px 0 15px;
  }
  .menu__list-item + .menu__list-item{
    margin-left: 0;
  }
  .menu__list-link{
    color: #fff;
    display: block;
    padding: 15px 0;
  }
  .logo{
    position: relative;
    z-index: 2;
  }
  .menu__btn{
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-top: 30px;
    position: relative;
    z-index: 2;
  }
  .header__top-inner path,
  .header__top-inner rect{
    transition: all 0.5s;
  }
  .header__top-inner.header__top-inner--active .menu__list{
    transform: translateY(0%);
  }
  .header__top-inner.header__top-inner--active path{
    fill: white;
  }
  .header__top-inner.header__top-inner--active .menu__btn rect{
    fill: white;
  }
  .header__top-inner{
    align-items: center;
  }
  .header__title{
    font-size: 50px;
    line-height: 65px;
    margin-bottom: 10px;
  }
  .header__subtitle{
    font-size: 14px;
    line-height: 16px;
  }
  .title{
    font-size: 48px;
    line-height: 60px;
  }
  .portfolio__content{
    column-count: 2;
  }
  .portfolio__btn{
    display: block;
    margin-bottom: 30px;
  }
  .portfolio__btn + .portfolio__btn{
    margin-left: 0;
  }
  .portfolio__add{
    margin-bottom: 40px;
  }
  .blockquote{
    margin-bottom: 40px;
    padding: 0 10px;
  }
  .portfolio__video{
    margin-bottom: 75px;
  }
  .portfolio__numbers{
    flex-wrap: wrap;
  }
  .portfolio__numbers-item{
    width: 50%;
    margin-bottom: 40px;
  }
  .slider-blog__item{
    padding: 40px 0;
  }
  ul.slick-dots{
    margin-left: 0;
  }
  .slider-blog__item-title{
    font-size: 24px;
    line-height: 32px;
  }
  .priceing__items{
    display: block;
  }
  ul.priceing__item{
    margin: 0 auto 25px;
    max-width: 500px;
    width: 100%;
  }
  .clients__list{
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .clients__list li{
    margin-bottom: 25px;
  }
}

/* media 768px setup ends*/

/* media 640px setup starts */

@media(max-width: 640px){
  .team__iteams{
    display: block;
  }
  .team__item{
    margin-bottom: 25px;
  }
  .team__item img{
    margin: 0 auto;
  }
}

/* media 640px setup ends */

/* media 440px setup starts */

@media(max-width: 440px){
  .header__title{
    font-size: 36px;
    line-height: 44px;
  }
  .header__subtitle{
    font-size: 12px;
    line-height: 14px;
  }
  .about__title,
  .title{
    font-size: 28px;
    line-height: 42px;
  }
  .portfolio__numbers-item{
    width: 100%;
  }
  .footer__social-list{
    width: 50%;
  }
}

/* media 440px setup ends */

/* media 340px setup starts */

@media(max-width: 340px){
  .expertise__item{
    padding-left: 0;
    padding-top: 60px;
  } 
}

/* media 340px setup ends */

/* media setup ends ///////////////////////////////////*/



